{
  "openapi": "3.0.3",
  "info": {
    "title": "HFI Utility Center Announcements API",
    "version": "1.0.0",
    "description": "API for managing announcements."
  },
  "servers": [
    {
      "url": "http://preview-api.hfiuc.org/api",
      "description": "Development server (replace with actual URL)"
    }
  ],
  "tags": [
    {
      "name": "Announcements",
      "description": "Operations related to announcements"
    }
  ],
  "components": {
    "schemas": {
      "Token": {
                    "type": "string",
        "description": "Authentication token."
      },
      "AnnouncementId": {
        "type": "integer",
        "format": "int32",
        "description": "ID of the announcement."
      },
      "AnnouncementBase": {
                  "type": "object",
                  "properties": {
          "title": {
                      "type": "string",
            "description": "Title of the announcement.",
            "example": "New System Update"
          },
            "content": {
                    "type": "string",
            "description": "Content of the announcement in Quill Delta JSON format (as a string).",
            "example": "{\"ops\":[{\"insert\":\"Hello World!\\n\"}]}"
                  },
          "status": {
                    "type": "string",
            "description": "Status of the announcement.",
            "enum": ["draft", "published", "archived"],
            "example": "published"
          }
        }
      },
      "Announcement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AnnouncementBase"
          },
          {
                "type": "object",
                "properties": {
              "id": {
                "$ref": "#/components/schemas/AnnouncementId"
              },
              "created_at": {
                    "type": "string",
                "format": "date-time",
                "description": "Timestamp of creation."
                  },
              "updated_at": {
                    "type": "string",
                "format": "date-time",
                "description": "Timestamp of last update."
              }
            }
          }
        ]
      },
      "AddAnnouncementRequest": {
                  "type": "object",
        "required": ["token", "title", "content"],
                "properties": {
                  "token": {
            "$ref": "#/components/schemas/Token"
          },
          "title": {
                    "type": "string",
            "description": "Title of the announcement."
          },
            "content": {
                            "type": "string",
            "description": "Content of the announcement (Quill Delta JSON string)."
                          },
                          "status": {
                            "type": "string",
            "description": "Status of the announcement. Defaults to 'published' if not provided.",
            "enum": ["draft", "published"],
            "default": "published"
          }
        }
      },
      "EditAnnouncementRequest": {
                "type": "object",
        "required": ["token", "id"],
                "properties": {
                  "token": {
            "$ref": "#/components/schemas/Token"
                  },
                  "id": {
            "$ref": "#/components/schemas/AnnouncementId"
          },
          "title": {
              "type": "string",
            "description": "New title for the announcement (optional)."
          },
            "content": {
                    "type": "string",
            "description": "New content for the announcement (Quill Delta JSON string, optional)."
                  },
          "status": {
                    "type": "string",
            "description": "New status for the announcement (optional).",
            "enum": ["draft", "published", "archived"]
          }
        },
        "description": "At least one of 'title', 'content', or 'status' must be provided for an update."
      },
      "DeleteAnnouncementRequest": {
                "type": "object",
        "required": ["token", "id"],
                "properties": {
          "token": {
            "$ref": "#/components/schemas/Token"
          },
          "id": {
            "$ref": "#/components/schemas/AnnouncementId"
          }
        }
      },
      "Pagination": {
                  "type": "object",
                  "properties": {
          "total_records": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "current_page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "include_deleted": {
                      "type": "boolean"
          }
        }
      },
      "GenericSuccessResponse": {
                  "type": "object",
                  "properties": {
                    "success": {
            "type": "boolean",
            "example": true
                    },
                    "message": {
                      "type": "string"
          },
          "data": {
                  "type": "object",
            "nullable": true
          }
        }
      },
      "AddSuccessResponse": {
         "allOf": [
           { "$ref": "#/components/schemas/GenericSuccessResponse" },
           {
                  "type": "object",
                  "properties": {
               "data": {
                  "type": "object",
                  "properties": {
                   "id": { "$ref": "#/components/schemas/AnnouncementId" }
                 }
               }
             }
           }
         ]
      },
      "GetSuccessResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/GenericSuccessResponse" },
          {
                  "type": "object",
                  "properties": {
              "data": {
                  "type": "object",
                  "properties": {
                  "announcements": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Announcement"
                    }
                  },
                  "pagination": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        ]
      },
      "ErrorResponse": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
            "example": "Error message describing the issue."
                }
              }
            }
          },
        "responses": {
      "BadRequest": {
        "description": "Bad Request - Invalid input, validation failed, or invalid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
      "Unauthorized": {
        "description": "Unauthorized - Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
      "NotFound": {
        "description": "Not Found - The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "MethodNotAllowed": {
        "description": "Method Not Allowed - The HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
      "UnsupportedMediaType": {
        "description": "Unsupported Media Type - The request Content-Type is not 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
      "InternalServerError": {
        "description": "Internal Server Error - An unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
              }
            }
          }
        }
      }
    },
  "paths": {
    "/announcements": {
      "post": {
        "tags": ["Announcements"],
        "summary": "Add a new announcement",
        "description": "Creates a new announcement.",
        "operationId": "addAnnouncement",
        "requestBody": {
          "description": "Announcement data to create.",
          "required": true,
            "content": {
              "application/json": {
                "schema": {
                "$ref": "#/components/schemas/AddAnnouncementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Announcement created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSuccessResponse"
          }
        }
      }
    },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "get": {
        "tags": ["Announcements"],
        "summary": "List announcements",
        "description": "Retrieves a paginated list of announcements.",
        "operationId": "getAnnouncements",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of announcements per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["id", "title", "created_at", "updated_at", "status"],
              "default": "created_at"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort order.",
            "required": false,
            "schema": {
                    "type": "string",
              "enum": ["ASC", "DESC"],
              "default": "DESC"
            }
          },
          {
            "name": "include_deleted",
            "in": "query",
            "description": "Whether to include soft-deleted announcements.",
            "required": false,
                "schema": {
                      "type": "boolean",
              "default": false
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter announcements by status. The current `get_announcements.php` script hardcodes filtering to 'published' regardless of this parameter, but it's included for future compatibility.",
            "required": false,
                "schema": {
                    "type": "string",
              "enum": ["published", "draft", "archived"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved announcements.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSuccessResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/announcements/edit": {
      "post": {
        "tags": ["Announcements"],
        "summary": "Edit an existing announcement",
        "description": "Updates an existing announcement. The ID of the announcement is provided in the request body.",
        "operationId": "editAnnouncement",
        "requestBody": {
          "description": "Announcement data to update. Requires token, id, and at least one of title, content, or status.",
          "required": true,
            "content": {
              "application/json": {
                "schema": {
                "$ref": "#/components/schemas/EditAnnouncementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Announcement updated successfully or no changes detected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse" 
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/announcements/delete": {
      "post": {
        "tags": ["Announcements"],
        "summary": "Delete an announcement",
        "description": "Soft-deletes an announcement. The ID of the announcement is provided in the request body.",
        "operationId": "deleteAnnouncement",
        "requestBody": {
          "description": "Requires token and id of the announcement to delete.",
          "required": true,
            "content": {
              "application/json": {
                "schema": {
                "$ref": "#/components/schemas/DeleteAnnouncementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Announcement deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    }
  }
}
