openapi: 3.0.3
info:
  title: HFI Utility Center API
  version: 1.0.0
  description: PHP Slim API for room reservations, catalog management, and administrator review.
servers:
  - url: https://api.hfiuc.org
paths:
  /health:
    get:
      summary: Health check
      responses:
        '200':
          description: Service is up
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/DataEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          status:
                            type: string
                            example: ok
                          service:
                            type: string
                            example: hfiuc-php
                          time:
                            type: string
  /debug:
    get:
      summary: Inspect configured task secrets in debug mode
      description: Available only when DEBUG=true and the current session belongs to a global administrator. Secret values are returned verbatim.
      security:
        - session: []
      responses:
        '200':
          description: Current configured task secrets
          headers:
            Cache-Control:
              description: Prevent storage of the secret-bearing response.
              schema:
                type: string
                enum: ['private, no-store']
            Pragma:
              schema:
                type: string
                enum: [no-cache]
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    enum: [true]
                  data:
                    type: object
                    required: [QUEUE_PROCESS_SECRET, TASK_PULL_SECRET, TASK_EXECUTE_SECRET]
                    properties:
                      QUEUE_PROCESS_SECRET:
                        type: string
                      TASK_PULL_SECRET:
                        type: string
                      TASK_EXECUTE_SECRET:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: DEBUG is disabled, so the route is unavailable.
  /_csrf:
    get:
      summary: Issue a single-use CSRF token
      responses:
        '200':
          description: Token
          headers:
            x-csrf-token:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataEnvelope'
  /announcement/current:
    get:
      summary: Public announcement
      responses:
        '200':
          description: Current announcement, or null when hidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataEnvelope'
  /announcement/admin:
    get:
      summary: Announcement for an administrator
      security:
        - session: []
      responses:
        '200':
          description: Stored announcement, including a disabled one
        '401':
          $ref: '#/components/responses/Unauthorized'
  /announcement/update:
    post:
      summary: Replace the global announcement
      description: Any logged-in administrator with a CSRF token may update it.
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, content, enabled]
              properties:
                title:
                  type: string
                  maxLength: 120
                content:
                  type: string
                  maxLength: 4000
                enabled:
                  type: boolean
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /campus/list:
    get:
      summary: List campuses
      description: Public results omit archived campuses. Logged-in administrators may set includeArchived=true to include them with deletedAt and deletedBy.
      parameters:
        - $ref: '#/components/parameters/IncludeArchived'
      responses:
        '200':
          description: Cached campus list
  /class/list:
    get:
      summary: List classes
      description: Public results omit archived classes and classes under archived campuses. Logged-in administrators may set includeArchived=true.
      parameters:
        - $ref: '#/components/parameters/IncludeArchived'
      responses:
        '200':
          description: Cached class list
  /student/list:
    get:
      summary: List student email mappings
      description: Global administrators only. Includes mappings pointing to archived classes so they can be repaired.
      security:
        - session: []
      responses:
        '200':
          description: Student mappings in email order
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StudentProfileWithEmail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /student/create:
    post:
      summary: Register a student email mapping
      description: Global administrators only. Name and class are used as the authoritative identity for future reservations.
      security:
        - session: []
          csrf: []
      requestBody:
        $ref: '#/components/requestBodies/StudentBody'
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
  /student/edit:
    post:
      summary: Update a student mapping by email
      description: Global administrators only. To change an email address, delete and create its mapping; past reservation snapshots remain unchanged.
      security:
        - session: []
          csrf: []
      requestBody:
        $ref: '#/components/requestBodies/StudentBody'
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
  /student/delete:
    post:
      summary: Delete a student email mapping
      description: Global administrators only. Existing reservation snapshots are retained, but the email cannot make future ordinary reservations until re-registered.
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
  /room/list:
    get:
      summary: List rooms and policies
      description: Public results omit archived rooms and rooms under archived campuses. Administrators receive a fresh list and may set includeArchived=true.
      parameters:
        - $ref: '#/components/parameters/IncludeArchived'
      responses:
        '200':
          description: Rooms
  /campus/create:
    post:
      summary: Create a campus
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/Message'
  /campus/edit:
    post:
      summary: Rename a campus
      security:
        - session: []
          csrf: []
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '404':
          $ref: '#/components/responses/Error'
  /campus/delete:
    post:
      summary: Archive a campus
      security:
        - session: []
          csrf: []
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '409':
          $ref: '#/components/responses/Error'
  /campus/restore:
    post:
      summary: Restore an archived campus
      security:
        - session: []
          csrf: []
      requestBody:
        $ref: '#/components/requestBodies/IdBody'
      responses:
        '200':
          $ref: '#/components/responses/Message'
  /class/create:
    post:
      summary: Create a class
      security:
        - session: []
          csrf: []
      responses:
        '200':
          $ref: '#/components/responses/Message'
  /class/edit:
    post:
      summary: Edit a class
      security:
        - session: []
          csrf: []
      responses:
        '200':
          $ref: '#/components/responses/Message'
  /class/delete:
    post:
      summary: Archive a class
      security:
        - session: []
          csrf: []
      responses:
        '200':
          $ref: '#/components/responses/Message'
  /class/restore:
    post:
      summary: Restore an archived class
      description: The parent campus must be active; otherwise the request returns 409.
      security:
        - session: []
          csrf: []
      requestBody:
        $ref: '#/components/requestBodies/IdBody'
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
  /room/create:
    post:
      summary: Create a room
      security:
        - session: []
          csrf: []
      responses:
        '200':
          $ref: '#/components/responses/Message'
  /room/edit:
    post:
      summary: Edit a room
      security:
        - session: []
          csrf: []
      responses:
        '200':
          $ref: '#/components/responses/Message'
  /room/delete:
    post:
      summary: Archive a room
      security:
        - session: []
          csrf: []
      responses:
        '200':
          $ref: '#/components/responses/Message'
  /room/restore:
    post:
      summary: Restore an archived room
      description: The parent campus must be active; otherwise the request returns 409.
      security:
        - session: []
          csrf: []
      requestBody:
        $ref: '#/components/requestBodies/IdBody'
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
  /policy/create:
    post:
      summary: Create a room policy
      description: Days are 0-6. The end clock must be later than the start clock on the same day.
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [room, days, startTime, endTime]
              properties:
                room:
                  type: integer
                days:
                  type: array
                  items:
                    type: integer
                startTime:
                  type: array
                  items:
                    type: integer
                  minItems: 2
                  maxItems: 2
                endTime:
                  type: array
                  items:
                    type: integer
                  minItems: 2
                  maxItems: 2
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '400':
          $ref: '#/components/responses/Error'
  /policy/edit:
    post:
      summary: Edit a room policy
      security:
        - session: []
          csrf: []
      responses:
        '200':
          $ref: '#/components/responses/Message'
  /policy/toggle:
    post:
      summary: Enable or disable a room policy
      security:
        - session: []
          csrf: []
      responses:
        '200':
          $ref: '#/components/responses/Message'
  /policy/delete:
    post:
      summary: Delete a room policy
      security:
        - session: []
          csrf: []
      responses:
        '200':
          $ref: '#/components/responses/Message'
  /reservation/availability:
    get:
      summary: Occupied intervals for a room on a date
      description: Archived rooms and rooms under archived campuses return 404.
      parameters:
        - in: query
          name: roomId
          required: true
          schema:
            type: integer
        - in: query
          name: date
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Occupied intervals, excluding rejected and cancelled reservations
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    required: [roomId, date, occupied]
                    properties:
                      roomId:
                        type: integer
                      date:
                        type: string
                        format: date
                      occupied:
                        type: array
                        items:
                          type: object
                          required: [startTime, endTime, status]
                          properties:
                            startTime:
                              type: string
                              format: date-time
                            endTime:
                              type: string
                              format: date-time
                            status:
                              $ref: '#/components/schemas/ReservationStatus'
        '400':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
  /reservation/preflight:
    get:
      summary: Look up an email profile and reservations on a selected date
      description: Public lookup. Date boundaries use Asia/Shanghai; reservations overlapping the date are returned in start-time order, including cancelled and rejected history. The email is normalized to lowercase. An administrator email uses admin.name, null class fields, and priority mode. An unregistered non-admin email returns 422 with validation.code=student_not_registered and cannot create a reservation.
      parameters:
        - in: query
          name: email
          required: true
          schema:
            type: string
            format: email
        - in: query
          name: date
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Student profile and selected-day reservations
          headers:
            Cache-Control:
              description: Prevents caches from storing email-specific reservation results.
              schema:
                type: string
                enum: ['private, no-store']
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    enum: [true]
                  data:
                    $ref: '#/components/schemas/ReservationPreflight'
        '400':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
  /reservation/create:
    post:
      summary: Create a reservation
      description: Only an email is supplied for user identity. The server resolves the current name and optional class from student; unregistered ordinary email addresses receive 422 with validation.code=student_not_registered. Administrator email addresses instead use admin.name and null class, and trigger priority mode. With preview=true, validates the request without creating a reservation and returns a priority or normal preview. The final priority request requires confirmPriority=true and expectedConflictIds equal to the current overlapping active reservation IDs; a change returns 409 and requires a fresh preview. Priority creation cancels overlapping pending, ai_reviewing and approved reservations. Priority still requires a parseable range with startTime before endTime; ordinary requests retain their duration, date, policy, conflict and daily limits.
      parameters:
        - $ref: '#/components/parameters/Csrf'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationCreate'
      responses:
        '200':
          description: Preview result or created reservation result
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/ReservationCreatePreview'
                      - $ref: '#/components/schemas/ReservationCreateResult'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
  /reservation/get:
    get:
      summary: List reservations
      description: Public results include the existing name, reason, room, time and status fields, but omit email. Status is pending, ai_reviewing, approved, rejected or cancelled. Room administrators see only granted rooms; global administrators see all rooms.
      parameters:
        - in: query
          name: keyword
          schema:
            type: string
        - in: query
          name: campusId
          schema:
            type: integer
        - in: query
          name: roomId
          schema:
            type: integer
        - in: query
          name: status
          schema:
            $ref: '#/components/schemas/ReservationStatus'
        - in: query
          name: purposeType
          schema:
            $ref: '#/components/schemas/PurposeType'
        - in: query
          name: needsMultimedia
          schema:
            type: boolean
        - in: query
          name: startTime
          schema:
            type: integer
            description: Unix seconds
        - in: query
          name: endTime
          schema:
            type: integer
            description: Unix seconds
        - in: query
          name: page
          schema:
            type: integer
            minimum: 0
        - in: query
          name: sort
          schema:
            type: string
            enum: [time, sequence]
      responses:
        '200':
          description: Page of reservations
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ReservationPage'
  /reservation/future:
    get:
      summary: Future reservations visible to the administrator
      description: Includes ai_reviewing reservations; room administrators are limited to granted rooms.
      security:
        - session: []
      responses:
        '200':
          description: Future reservations
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reservation'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /reservation/export:
    get:
      summary: Export reservations as one XLSX sheet
      description: mode is included in the download filename. The workbook always contains a single sheet.
      security:
        - session: []
      parameters:
        - in: query
          name: mode
          schema:
            type: string
            default: by-room
        - in: query
          name: startTime
          schema:
            type: integer
        - in: query
          name: endTime
          schema:
            type: integer
      responses:
        '200':
          description: XLSX file
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Error'
  /reservation/cancel/preview:
    get:
      summary: Preview a reservation from its management token
      parameters:
        - in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Reservation preview
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ReservationPreview'
        '404':
          $ref: '#/components/responses/Error'
        '410':
          $ref: '#/components/responses/Error'
  /reservation/cancel:
    post:
      summary: Cancel a reservation with its management token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '409':
          $ref: '#/components/responses/Error'
        '410':
          $ref: '#/components/responses/Error'
  /reservation/modify:
    post:
      summary: Requester edit, limited to two changes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationEdit'
      responses:
        '200':
          description: Updated edit counts
        '409':
          $ref: '#/components/responses/Error'
        '410':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
  /reservation/admin-edit:
    post:
      summary: Edit an approved reservation
      description: The administrator must be able to approve both the current room and the destination room. A room with a null enabled flag remains bookable.
      security:
        - session: []
          csrf: []
      requestBody:
        $ref: '#/components/requestBodies/IdBody'
      requestBody:
        $ref: '#/components/requestBodies/IdBody'
      requestBody:
        $ref: '#/components/requestBodies/PolicyEditBody'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminReservationEdit'
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
  /reservation/approval:
    post:
      summary: Approve or reject a pending reservation
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, approved]
              properties:
                id:
                  type: integer
                approved:
                  type: boolean
                reason:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
  /reservation/ai-unlock:
    post:
      summary: Global administrator unlocks an AI review
      description: Moves ai_reviewing back to pending, invalidates older AI task versions and schedules a new AI fallback after 15 minutes.
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, reason]
              properties:
                id:
                  type: integer
                reason:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
  /admin/login:
    post:
      summary: Log in with a password or a one-time token
      parameters:
        - $ref: '#/components/parameters/Csrf'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                turnstileToken:
                  type: string
                token:
                  type: string
                  description: One-time login token. A token can create only one session.
      responses:
        '200':
          description: Sets the uc session cookie
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/logout:
    get:
      summary: Log out
      security:
        - session: []
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/check-login:
    get:
      summary: Current administrator identity
      description: Returns email, name and role (global or room).
      security:
        - session: []
      responses:
        '200':
          description: Email and name
        '400':
          $ref: '#/components/responses/Error'
  /admin/list:
    get:
      summary: List administrators
      description: Each administrator includes an explicit role (global or room).
      security:
        - session: []
      responses:
        '200':
          description: Administrators
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/permissions:
    get:
      summary: List explicit global and room administrator roles and room grants
      security:
        - session: []
      responses:
        '200':
          description: List of adminId, role and roomIds
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/permissions/update:
    post:
      summary: Global administrator updates a role and its room grants
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [adminId, role, roomIds]
              properties:
                adminId:
                  type: integer
                role:
                  type: string
                  enum: [global, room]
                roomIds:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Error'
  /admin/create:
    post:
      summary: Create an administrator
      security:
        - session: []
          csrf: []
      requestBody:
        $ref: '#/components/requestBodies/AdminCreateBody'
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '409':
          $ref: '#/components/responses/Error'
  /admin/edit:
    post:
      summary: Edit an administrator
      security:
        - session: []
          csrf: []
      requestBody:
        $ref: '#/components/requestBodies/AdminEditBody'
      responses:
        '200':
          $ref: '#/components/responses/Message'
  /admin/edit-password:
    post:
      summary: Change an administrator password
      security:
        - session: []
          csrf: []
      requestBody:
        $ref: '#/components/requestBodies/AdminPasswordBody'
      responses:
        '200':
          $ref: '#/components/responses/Message'
  /admin/notification-settings:
    post:
      summary: Change reservation notification preference
      security:
        - session: []
          csrf: []
      requestBody:
        $ref: '#/components/requestBodies/AdminNotificationBody'
      responses:
        '200':
          $ref: '#/components/responses/Message'
  /admin/delete:
    post:
      summary: Delete another administrator
      security:
        - session: []
          csrf: []
      requestBody:
        $ref: '#/components/requestBodies/IdBody'
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '409':
          $ref: '#/components/responses/Error'
  /analytics/overview:
    get:
      summary: Today's reservation count and pending total
      responses:
        '200':
          description: Overview
  /analytics/weekly:
    get:
      summary: Previous seven days of reservation totals
      responses:
        '200':
          description: Weekly summary
  /analytics/overview/export:
    get:
      summary: Download analytic rows as CSV
      security:
        - session: []
      responses:
        '200':
          description: CSV
          content:
            text/csv:
              schema:
                type: string
  /analytics/weekly/export:
    get:
      summary: Download analytic rows as CSV
      security:
        - session: []
      responses:
        '200':
          description: CSV
  /internal/outbox/process:
    post:
      summary: Legacy Queue callback for messages created before the task migration
      security:
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [jobId]
              properties:
                jobId:
                  type: integer
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
  /tasks:
    get:
      summary: Claim due tasks for Cloudflare Durable Object recovery dispatch
      description: Atomically leases at most 50 due pending or expired tasks. Normal immediate tasks are published after the business transaction commits; this endpoint compensates failed publication and dispatches delayed AI tasks.
      security:
        - bearer: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 50
      responses:
        '200':
          description: Data envelope containing tasks with taskId, kind and dispatchToken
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    required: [tasks]
                    properties:
                      tasks:
                        type: array
                        items:
                          $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/Error'
  /tasks/{taskId}/execute:
    post:
      summary: Execute a leased task from Cloudflare Queue
      description: Requires a valid dispatch token. Completed and superseded tasks are idempotent no-ops; an active processing lock returns 409.
      security:
        - bearer: []
      parameters:
        - in: path
          name: taskId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dispatchToken]
              properties:
                dispatchToken:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
  /catalog/invalidate:
    post:
      summary: Clear the catalog cache
      description: Unauthenticated, matching the previous API. It deletes cached catalog payloads.
      responses:
        '200':
          $ref: '#/components/responses/Message'
components:
  securitySchemes:
    session:
      type: apiKey
      in: cookie
      name: uc
    csrf:
      type: apiKey
      in: header
      name: x-csrf-token
    bearer:
      type: http
      scheme: bearer
  parameters:
    IncludeArchived:
      in: query
      name: includeArchived
      required: false
      description: Only available to logged-in administrators.
      schema:
        type: boolean
        default: false
    Csrf:
      in: header
      name: x-csrf-token
      required: true
      schema:
        type: string
  requestBodies:
    StudentBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [email, name]
            properties:
              email:
                type: string
                format: email
                maxLength: 191
              name:
                type: string
                maxLength: 191
              classId:
                type: integer
                nullable: true
    IdBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [id]
            properties:
              id:
                type: integer
    CampusBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [id, name]
            properties:
              id:
                type: integer
              name:
                type: string
    ClassBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [name, campus]
            properties:
              name:
                type: string
              campus:
                type: integer
    ClassEditBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [id, name, campus]
            properties:
              id:
                type: integer
              name:
                type: string
              campus:
                type: integer
    RoomBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [name, campus]
            properties:
              name:
                type: string
              campus:
                type: integer
    RoomEditBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [id, name, campus]
            properties:
              id:
                type: integer
              name:
                type: string
              campus:
                type: integer
              enabled:
                type: boolean
    PolicyEditBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [id, days, startTime, endTime]
            properties:
              id:
                type: integer
              days:
                type: array
                items:
                  type: integer
              startTime:
                type: array
                minItems: 2
                maxItems: 2
                items:
                  type: integer
              endTime:
                type: array
                minItems: 2
                maxItems: 2
                items:
                  type: integer
    AdminCreateBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [name, email, password]
            properties:
              name:
                type: string
              email:
                type: string
                format: email
              password:
                type: string
                minLength: 6
    AdminEditBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [id, name, email]
            properties:
              id:
                type: integer
              name:
                type: string
              email:
                type: string
                format: email
    AdminPasswordBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [admin, newPassword]
            properties:
              admin:
                type: integer
              newPassword:
                type: string
                minLength: 6
    AdminNotificationBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [id, enabled]
            properties:
              id:
                type: integer
              enabled:
                type: boolean
  responses:
    Message:
      description: Success message
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageEnvelope'
    Error:
      description: Request failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Unauthorized:
      description: Administrator session required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Forbidden:
      description: CSRF token or room permission rejected
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  schemas:
    StudentProfile:
      type: object
      required: [name, classId, className]
      properties:
        name:
          type: string
        classId:
          type: integer
          nullable: true
        className:
          type: string
          nullable: true
    StudentProfileWithEmail:
      allOf:
        - $ref: '#/components/schemas/StudentProfile'
        - type: object
          required: [email]
          properties:
            email:
              type: string
              format: email
    ReservationPreflight:
      type: object
      required: [email, date, mode, student, reservations]
      properties:
        email:
          type: string
          format: email
        date:
          type: string
          format: date
        mode:
          type: string
          enum: [normal, priority]
        student:
          $ref: '#/components/schemas/StudentProfile'
        reservations:
          type: array
          items:
            type: object
            required: [id, roomId, roomName, startTime, endTime, status, purposeType]
            properties:
              id:
                type: integer
              roomId:
                type: integer
                nullable: true
              roomName:
                type: string
                nullable: true
              startTime:
                type: string
                format: date-time
              endTime:
                type: string
                format: date-time
              status:
                $ref: '#/components/schemas/ReservationStatus'
              purposeType:
                $ref: '#/components/schemas/PurposeType'
    MessageEnvelope:
      type: object
      required: [success, message]
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
    DataEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          example: true
        data: {}
    ErrorEnvelope:
      type: object
      required: [success, message]
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        validation:
          type: object
          description: Safe field and code hints for client-visible validation errors, when available.
          properties:
            field:
              type: string
            code:
              type: string
        error:
          type: object
          description: Present on every error response when DEBUG=true. Includes the exception type, file, line, stack frames, any field or Turnstile detail, and the previous exception.
          additionalProperties: true
    ReservationStatus:
      type: string
      enum: [pending, ai_reviewing, approved, rejected, cancelled]
    PurposeType:
      type: string
      nullable: true
      enum: [personal, class, club]
    PriorityConflict:
      type: object
      required: [id, studentName, startTime, endTime, status, roomName]
      properties:
        id:
          type: integer
        studentName:
          type: string
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/ReservationStatus'
        roomName:
          type: string
    ReservationCreatePreview:
      type: object
      required: [mode, conflicts, cancelledCount]
      properties:
        mode:
          type: string
          enum: [normal, priority]
        conflicts:
          type: array
          items:
            $ref: '#/components/schemas/PriorityConflict'
        cancelledCount:
          type: integer
          minimum: 0
    ReservationCreateResult:
      type: object
      required: [reservationId, mode, cancelledCount]
      properties:
        reservationId:
          type: integer
        mode:
          type: string
          enum: [normal, priority]
        cancelledCount:
          type: integer
          minimum: 0
    Reservation:
      type: object
      required: [id, roomId, startTime, endTime, studentName, email, reason, status, createdAt, roomName, className, campusName, purposeType, needsMultimedia, editCount]
      properties:
        id:
          type: integer
        roomId:
          type: integer
          nullable: true
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        studentName:
          type: string
        email:
          type: string
          nullable: true
        reason:
          type: string
        status:
          $ref: '#/components/schemas/ReservationStatus'
        createdAt:
          type: string
          format: date-time
        roomName:
          type: string
          nullable: true
        className:
          type: string
          nullable: true
        campusName:
          type: string
          nullable: true
        purposeType:
          $ref: '#/components/schemas/PurposeType'
        needsMultimedia:
          type: boolean
        editCount:
          type: integer
    ReservationPage:
      type: object
      required: [reservations, total]
      properties:
        reservations:
          type: array
          items:
            $ref: '#/components/schemas/Reservation'
        total:
          type: integer
    ReservationPreview:
      type: object
      required: [reservationId, roomId, status, roomName, studentName, reason, startTime, endTime, needsMultimedia, editCount, remainingEdits]
      properties:
        reservationId:
          type: integer
        roomId:
          type: integer
          nullable: true
        status:
          $ref: '#/components/schemas/ReservationStatus'
        roomName:
          type: string
          nullable: true
        studentName:
          type: string
        reason:
          type: string
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        purposeType:
          $ref: '#/components/schemas/PurposeType'
        needsMultimedia:
          type: boolean
        editCount:
          type: integer
        remainingEdits:
          type: integer
    Task:
      type: object
      required: [taskId, kind, dispatchToken]
      properties:
        taskId:
          type: integer
        kind:
          type: string
        dispatchToken:
          type: string
    ReservationCreate:
      type: object
      description: For ordinary email addresses, the reason, purpose type, room policy, room availability, daily count, enabled flag, and date and duration limits apply. Administrator email addresses bypass these business restrictions. Name and class are resolved by the server from the student or administrator table; client-supplied identity fields are ignored.
      required: [room, startTime, endTime, email, reason]
      properties:
        room:
          type: integer
        startTime:
          type: integer
          description: Unix seconds
        endTime:
          type: integer
        email:
          type: string
        reason:
          type: string
        purposeType:
          type: string
          nullable: true
          description: Ordinary reservations accept personal, class, or club. Administrator email reservations are not subject to this list.
        needsMultimedia:
          type: boolean
        preview:
          type: boolean
          default: false
        confirmPriority:
          type: boolean
          default: false
        expectedConflictIds:
          type: array
          description: Required on final priority creation; must exactly match the IDs returned by the latest preview.
          items:
            type: integer
    ReservationEdit:
      type: object
      required: [token, room, startTime, endTime, reason]
      properties:
        token:
          type: string
        room:
          type: integer
        startTime:
          type: integer
        endTime:
          type: integer
        reason:
          type: string
        purposeType:
          type: string
          enum: [personal, class, club]
        needsMultimedia:
          type: boolean
    AdminReservationEdit:
      type: object
      required: [id, room, startTime, endTime, reason]
      properties:
        id:
          type: integer
        room:
          type: integer
        startTime:
          type: integer
          description: Unix seconds
        endTime:
          type: integer
        reason:
          type: string
        purposeType:
          type: string
          enum: [personal, class, club]
          nullable: true
        needsMultimedia:
          type: boolean
