<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="remote-db-smoke">
      <file>tests/DebugRouteTest.php</file>
      <file>tests/AuthServiceTest.php</file>
      <file>tests/CatalogServiceTest.php</file>
      <file>tests/OutboxWorkerTest.php</file>
      <file>tests/ReservationServiceTest.php</file>
      <file>tests/TaskApiTest.php</file>
      <file>tests/TaskDispatchTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
