RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<IfModule mod_headers.c>
  SetEnvIf Request_URI "^/assets/" hfiuc_asset
  Header set Cache-Control "public, max-age=31536000, immutable" env=hfiuc_asset
</IfModule>
