DATABASE_URL=postgresql://USER:PASSWORD@1Panel-postgresql-zCoL:5432/hfi-utility-center
DB_MAX_CONNECTIONS=16
FRONTEND_URL=https://www.hfiuc.org
SMTP_SERVER=
SMTP_EMAIL=
SMTP_PASSWORD=
CLOUDFLARE_SECRET=
AI_APPROVAL_ENABLED=false
AI_APPROVAL_URL=
AI_APPROVAL_SECRET=
AI_APPROVAL_ADMIN_ID=0
RUST_LOG=hfiuc_api=info,tower_http=info
